<!DOCTYPE html>

<html>

<head>

	<title>Snopchat</title>
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="main.css">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="main.js"></script>
	<script src="emojiKeypadScript.js"></script>
	
	<meta charset="utf-8">
	
</head>

<body>
<img id="toggleSfxButton" onclick="toggleSfx()" src="/volume_off.png"></img>

<div class="ui container left aligned segment basic">
	<div class="ui four column grid">
		<div class="row">

			<div class="twelve wide column ui container" style="border: 3px cyan solid;">
			
				<h1 class="">Snopchat</h1>
				
				<ul id="messages"></ul>
				
				<p></p>
				<p></p>
				<br>
				<br>
				

				
			</div>
			
			<div class="four wide column center aligned sidebar">
			
				<h3>Online: <span id="onlinenumber">0</span></h3>
				
				<ul id="onlinenames"></ul>
				
			</div>
		</div>
	</div>
</div>

<form action="">

  <span id="typing">It's silent...</span>
    
  <div id="emojiKeypad">
	
		<p id="emojiKeypadButton" onclick="toggleEmojiKeypad()">😀</p>
		<table id="emojiDropup"></table>
	
	</div>
  
	<input type="" id="m" autocomplete="off">
	
	<button class="ui purple button">Send</button>
	
</form>

</body>
</html>